
@font-face {
  font-family: 'socialwordmarks';
  /*src:  url('../fonts/wordmarks/wordmarks.woff');
  src:  url('../fonts/wordmarks/wordmarks.eot');
   src: url("../fonts/wordmarks/wordmarks.ttf");
  src:  url('../fonts/wordmarks/wordmarks.woff2');
  src:  url('../fonts/wordmarks/wordmarks.svg');*/


  /*src: url("wordmarks.eot") 

  /*src: url('../fonts/wordmarks/wordmarks.eot?39030444');*/
 /* src: url('../fonts/wordmarks/wordmarks.eot'),
       url('../fonts/wordmarks/wordmarks.woff2'),
       url('../fonts/wordmarks/wordmarks.woff'),
       url('../fonts/wordmarks/wordmarks.ttf'),
       url('../fonts/wordmarks/wordmarks.svg');*/

  src: url('../fonts/wordmarks/wordmarks.woff') format('woff'),
       url('../fonts/wordmarks/wordmarks.eot') format('embedded-opentype'),
       url('../fonts/wordmarks/wordmarks.woff2') format('woff2'),       
       url('../fonts/wordmarks/wordmarks.ttf') format('truetype'),
       url('../fonts/wordmarks/wordmarks.svg') format('svg');
 /* font-weight: normal;
  font-style: normal;*/
}

.socialwordmark{
  font-family: 'socialwordmarks';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: gray;
  display: block;
  /*margin-top: 2.5%;*/
  margin-bottom: 3%;
  margin-left: 3%;
}

.wordmark{
 /* color: gray;
  display: block;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 2%;*/

}